</main>

<footer>
  <p>Copyright © <span id="year"></span></p>
  <script>
    const d = new Date();
    let year = d.getFullYear();
    document.getElementById("year").textContent = year;
  </script>
</footer>

</body>

</html>
